icon-row {
	width: 100%;
    min-height: 450px;
    background-image: url("../../public/images/whatiscraftcoffee/what-linenBackWithStain.jpg");
        background-repeat:no-repeat;
        background-size: cover;
    
    #rl-coffee-what-row-full{
        min-height:  inherit;
    }
    
    .rl-coffee-middle-header{
        
        text-align: center;
        
        h2{
            padding-top: 30px;
            color: #352a21!important;
            font-size: 18px;
        }
        p{
            color: #5d503a;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 13px;
        }
    }
        
        .rl-coffee-ani-row{
               width: 50%;
            max-width: 900px;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            display: inline-block;
            top: 40%;
            
            .aniDiv {
                width: 12%;
                p{
                    font-family: 'Avenir-Black', Arial, Helvetica, sans-serif;
                    color: #352a21;
                    text-align: center;
                    font-weight: 900;
                    padding-top: 5px;
                }
            }
            
            .ruleDiv{
                width: 32%;
                >img {
                    top: 1em;
                }
            }
            
            >div {
                float: left;
            }
            
            img{
                width: 80%;
                margin: auto;
                position: relative;
                left: 10%;
                
                
            }
            
            .aniDiv:nth-child(1) img {
                    top:.5em;
                    padding-bottom: 20px;
            }
            
            .aniDiv:nth-child(3) img {
                    top:-1em;
                }
            .aniDiv:nth-child(5) img {
                    top:-1em;
                }
        }
    }
