intro {
	cursor: default;
    overflow: hidden;
    
    #rl-coffee-what-row-half{
        width: 50%;
        float: left;
        position: relative;
    }
    
    #rl-coffee-what-intro-copy {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        text-align: center;
        top: 0px;
        padding: 0px;
    }
    
    .rl-coffee-float-btn{
        overflow: hidden;
    }
    
    .rl-coffee-floatLearn{
        display: none;
    }
    
    .rl-coffee-float-img{
        cursor:default;
    }

	img {
		width: 100%;
	}
    
    .what-into-copy{
        padding-left: 60px;
        padding-right: 60px;
        font-size: 14px;
        line-height: 18px;
        text-align: justify; 
    }
    
    .what-intro-bean{
        padding-top: 40px;
        padding-bottom: 20px;
        img {
            width: initial;
            padding: 20px;
        }
    }
    
    .rl-coffee-footer-seeMore {
            position: relative;
            top: 20px;
            left: 0px;
            right: 0px;
            width: 200px;
            height: 40px;
            background-color: #CE0400;
            text-align: center;
            text-rendering: optimizeSpeed;
            color: white;
            text-transform: uppercase;
            font-family: 'Avenir-Black', Arial, Helvetica, sans-serif;
            font-size: 14px;
            padding-top: 1em;
            cursor: pointer;
            margin: auto;
        }
}