roast-row {
	width: 100%;
    min-height: 300px;
    background-image: url("../../public/images/whatiscraftcoffee/wood-bg-1.jpg");
        background-repeat:no-repeat;
        background-size: cover;
    
    #rl-coffee-what-row-full{
        min-height:  inherit;
    }
    
    .rl-coffee-middle-header{
        
        text-align: center;
        
        h2{
            padding-top: 30px;
            color: #352a21!important;
            font-size: 18px;
        }
        p{
            color: #5d503a;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 13px;
        }
    }
        
        .rl-coffee-ani-row{
            width: 50%;
            position:absolute;;
            margin: auto;
            left: 25%;
            display: inline-block;
            //top: 50%;
            
            .aniDiv {
                width: 33%;
                
            }
            
            p{
                font-family: 'Avenir-Black', Arial, Helvetica, sans-serif;
                color: white;
                text-align: center;
                font-weight: 900;
                padding-top: 5px;
            }
            
            >div {
                float: left;
            }
            
            img{
                width: 80%;
                margin: auto;
                position: relative;
                left: 10%;
                
                
            }
            
            .aniDiv:nth-child(1) img {
                    top:.5em;
            }
            
            .aniDiv:nth-child(3) img {
                    top:-1em;
                }
            .aniDiv:nth-child(5) img {
                    top:-1em;
                }
        }
    }
