<div class="rl-coffee-float-btn">
    
    <div *ngIf=" floatUrl == '' ">
        <div class="rl-coffee-float-img"><img src="{{floatImage}}" alt="{{floatCopy}}" /></div>
        <div class="rl-coffee-floatButton-title">{{floatName}}</div>
        <div class="rl-coffee-floatButton-copy">{{floatCopy}}</div>
        <div class="rl-coffee-floatLearn">Learn More <span style="font-size:1.5em">»</span></div>
    </div>
    
    <div *ngIf=" floatUrl != '' ">
        <a href="{{floatUrl}}" target="_blank">
        <div class="rl-coffee-float-img"><img src="{{floatImage}}" alt="{{floatCopy}}" /></div>
        <div class="rl-coffee-floatButton-title">{{floatName}}</div>
        <div class="rl-coffee-floatButton-copy">{{floatCopy}}</div>
        <div class="rl-coffee-floatLearn">Learn More <span style="font-size:1.5em">»</span></div>
        </a>
    </div>
    
</div>