<div id="rl-coffee-footer">
    <div class="rl-coffee-beans rl-coffee-inner-footer"><img src="/images/ka-coffee-port-what/rl-coffee-beans.png" alt="Hey some beans!" /></div>
    <div class="rl-coffee-footer-copy rl-coffee-inner-footer">
        <h2>LIFE TASTES BETTER<br />WITH COFFEE</h2>
        <h3>Coffee brewers, espresso makers, grinders</h3>
        <p>and accessories for your perfect cup of coffee.</p>
    </div>
    <a href="http://www.kitchenaid.ca/en_CA/shop/countertop-appliances-1/countertop-appliances-2/coffee-products-3/102310125/" target="_blank">
        <div class="rl-coffee-footer-seeMore rl-coffee-inner-footer">See All Coffee</div>
    </a>
</div>