<div class="rl-coffee-videoPlayer-info" (click)="select()" analyticsOn="click" analyticsCategory="{{analyticsCategory}}" analyticsAction="{{analyticsAction}}" analyticsLabel="{{analyticsLabel}}">
	<div><div>
		<img *ngIf="!!video.header" class="rl-coffee-videoPlayer-header" src="{{video.header}}"/>
		<h2 *ngIf="!!video.title" class="rl-coffee-videoPlayer-title">{{video.title}}</h2>
		<p *ngIf="!!video.desc" class="rl-coffee-videoPlayer-desc">{{video.desc}}</p>
		<div class="rl-coffee-videoPlayer-divider"></div>
		<div class="rl-coffee-videoPlayer-cta">{{video.cta}}</div>
	</div></div>
	<img class="rl-coffee-videoPlayer-thumb" src="{{video.thumb}}"/>
</div>
<videoplayer-video [id]="video.id" [selected]="selected" (stoppedEvent)="stoppedEvent($event)"></videoplayer-video>
<div id="rl-coffee-what-scroll" ><img src="/images/ka-coffee-port-what/whatiscraftcoffee/rl-coffee-scroll-arrow.png" /></div>