<div id="rl-coffee-what-row-full">
    <div class="rl-coffee-middle-header">
        <h2>CHOOSE A ROAST:</h2>
        <h3>From light to dark, the roasting process brings out the natural flavours in each bean.</h3>
    </div>
    <div class="rl-coffee-ani-row">
        <div class="ani01 aniDiv">
            <img src="/images/ka-coffee-port-what/whatiscraftcoffee/what-beans-dark.png" />
            <p>Dark Roast</p>
        </div>
        <div class="ani02 aniDiv">
            <img src="/images/ka-coffee-port-what/whatiscraftcoffee/what-beans-medium.png" />
            <p>Medium Roast</p>
        </div>
        <div class="ani03 aniDiv">
            <img src="/images/ka-coffee-port-what/whatiscraftcoffee/what-beans-light.png" />
            <p>Light Roast</p>
        </div>
    </div>
</div>
<div style="clear:both"></div>