<div id="rl-coffee-what-row-full">
    <div class="rl-coffee-middle-header">
        <h2>WHAT MAKES A GREAT CUP OF COFFEE?</h2>
        <h3>Each of our Brewers have been engineered for precise performance.</h3>
    </div>
    <div class="rl-coffee-ani-row">
        <div class="ani01 aniDiv"><img src="/images/ka-coffee-port-what/whatiscraftcoffee/rl-coffee-beans.png" />
            <p>QUALITY COFFEE BEANS</p></div>
        <div class="rl-coffee-plus-rule ruleDiv"><img src="/images/ka-coffee-port-what/whatiscraftcoffee/rl-coffee-plusRule.png" /></div>
        <div class="ani02 aniDiv"><img src="/images/ka-coffee-port-what/whatiscraftcoffee/what-brewMethod.png" />
            <p>PRECISE BREW METHOD</p></div>
        <div class="rl-coffee-equal-rule ruleDiv"><img src="/images/ka-coffee-port-what/whatiscraftcoffee/rl-coffee-equalRule.png" /></div>
        <div class="ani03 aniDiv"><img src="/images/ka-coffee-port-what/whatiscraftcoffee/what-coffeeCup.png" />
            <p>GREAT TASTING COFFEE</p></div>
    </div>
</div>
<div style="clear:both"></div>