<div id="rl-coffee-masthead">
    <div id="rl-coffee-craft-logo"><img src="/images/ka-coffee-port/craftCoffeeLogo.png" alt="Kitchenaid Craft Coffee" /></div>
    <div id="rl-coffee-social">
        <div class="rl-coffee-facebook"><img src="/images/ka-coffee-port/facebook.png" alt="Follow KitchenAid of Facebook" /></div>
        <div class="rl-coffee-twitter"><img src="/images/ka-coffee-port/twitter.png" alt="Follow KitchnAid on twitter" /></div>
        <div class="rl-coffee-insta"><img src="/images/ka-coffee-port/instagram.png" alt="Follow KitchnAid on instgram" /></div>
    </div>
    <float-menu></float-menu>
</div>