<div id="rl-coffee-footer">
    <div class="rl-coffee-beans rl-coffee-inner-footer"><img src="/images/ka-coffee-port-what-fr/rl-coffee-beans.png" alt="Hey some beans!" /></div>
    <div class="rl-coffee-footer-copy rl-coffee-inner-footer">
        <h2>LA VIE A MEILLEUR GO&Ucirc;T<br />AVEC DU CAF&Eacute;</h2>
        <h3>Infuseurs de caf&eacute;, machines &agrave; espresso, moulins &agrave; caf&eacute; et accessoires,</h3>
        <p>pour pr&eacute;parer la parfaite tasse de caf&eacute;.</p>
    </div>
    <div class="rl-coffee-footer-seeMore rl-coffee-inner-footer">VOIR TOUS LES APPAREILS &Agrave; CAF&Eacute;</div>
</div>