<div id="rl-coffee-what-row-full">
    <div class="rl-coffee-middle-header">
        <h2>CHOISISSEZ UNE TORR&Eacute;FACTION :</h2>
        <h3>De l&eacute;ger &agrave; fonc&eacute;, le processus de torr&eacute;faction, fait ressortir les saveurs naturelles de chaque grain.</h3>
    </div>
    <div class="rl-coffee-ani-row">
        <div class="ani01 aniDiv">
            <img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/what-beans-dark.png" />
            <p>Torr&eacute;faction fonc&eacute;e</p>
        </div>
        <div class="ani02 aniDiv">
            <img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/what-beans-medium.png" />
            <p>Torr&eacute;faction moyenne</p>
        </div>
        <div class="ani03 aniDiv">
            <img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/what-beans-light.png" />
            <p>Torr&eacute;faction l&eacute;g&egrave;re</p>
        </div>
    </div>
</div>
<div style="clear:both"></div>