<div id="rl-coffee-what-row-full">
    <div class="rl-coffee-middle-header">
        <h2>Quels SONT LES CRIT&Egrave;RES D&rsquo;une D&Eacute;LICIEUSE tasse de caf&eacute;?</h2>
        <h3>Nous avons con&ccedil;u chaque infuseur pour parvenir &agrave; un r&eacute;sultat pr&eacute;cis.</h3>
    </div>
    <div class="rl-coffee-ani-row">
        <div class="ani01 aniDiv"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/rl-coffee-beans.png" alt ="Quality Beans" />
            <p>GRAINS DE CAF&Eacute; DE QUALIT&Eacute;</p></div>
        <div class="rl-coffee-plus-rule ruleDiv"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/rl-coffee-plusRule.png" alt="plus" /></div>
        <div class="ani02 aniDiv"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/what-brewMethod.png" alt="brew method" />
            <p>M&Eacute;THODE D'INFUSION PR&Eacute;CISE</p></div>
        <div class="rl-coffee-equal-rule ruleDiv"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/rl-coffee-equalRule.png" alt="equals" /></div>
        <div class="ani03 aniDiv"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/what-coffeeCup.png" alt="great coffee" />
            <p>CAF&Eacute; AU GO&Ucirc;T<br />EXCEPTIONNEL</p></div>
    </div>
</div>
<div style="clear:both"></div>