<div id="rl-coffee-grinds">
    <div id="rl-coffee-grind-sketches"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/rl-coffee-sketches-FR.jpg" alt="Kitchenaid Craft Coffee" /></div>
    <div id="rl-coffee-grind-sketches-mobile"><img src="/images/ka-coffee-port-what-fr/whatiscraftcoffee/rl-coffee-sketches_vert.jpg" alt="Kitchenaid Craft Coffee" /></div>
    <div class="rl-coffee-grind-header upper">
        <h2>CHOISISSEZ UNE MOUTURE :</h2>
        <h3>Le type de mouture est essentiel pour une extraction id&eacute;ale. Chaque m&eacute;thode d'infusion exige une mouture particuli&egrave;re, pour parvenir &agrave; une saveur et texture optimales.</h3>
    </div>
    <div class="rl-coffee-grind-header lower">
        <h2>UTILISEZ UNE M&Eacute;THODE D'INFUSION PR&Eacute;CISE</h2>
        <h3>L'infusion id&eacute;ale d&eacute;pend de la dur&eacute;e, de la temp&eacute;rature et de la m&eacute;thode utilis&eacute;e.</h3>
    </div>
    <float-menu></float-menu>
</div>