<div id="rl-coffee-footer">
    <div class="rl-coffee-beans rl-coffee-inner-footer"><img src="./public/images/rl-coffee-beans.png" alt="Hey some beans!" /></div>
    <div class="rl-coffee-footer-copy rl-coffee-inner-footer">
        <h2>LA VIE A MEILLEUR GO&Ucirc;T<br />AVEC DU CAF&Eacute;</h2>
        <h3>Infuseurs de caf&eacute;, machines &agrave; espresso, moulins &agrave; caf&eacute; et accessoires, pour pr&eacute;parer la parfaite tasse de caf&eacute;.</h3>
    </div>
    <a analyticsOn="click" analyticsCategory="@language-Craft Coffee Landing Page" analyticsAction="@language-Clicked Main Craft Coffee Collection" analyticsLabel="See all Coffee Products" href="http://www.kitchenaid.ca/fr_CA/shop/countertop-appliances-1/countertop-appliances-2/coffee-products-3/102310125/" target="_blank"><div class="rl-coffee-footer-seeMore rl-coffee-inner-footer"style="font-size: 11px; font-weight: 600; padding-top: 1.2em;">VOIR TOUS LES APPAREILS &Agrave; CAF&Eacute;</div></a>
</div>