<div id="rl-coffee-footer">
    <div class="rl-coffee-beans rl-coffee-inner-footer"><img src="./public/images/rl-coffee-beans.png" alt="Hey some beans!" /></div>
    <div class="rl-coffee-footer-copy rl-coffee-inner-footer">
        <h2>LIFE TASTES BETTER<br />WITH COFFEE</h2>
        <h3>Coffee brewers, espresso makers, grinders</h3>
        <p>and accessories for your perfect cup of coffee.</p>
    </div>
    <div class="rl-coffee-footer-seeMore rl-coffee-inner-footer">See All Coffee</div>
</div>
<div id="rl-coffee-legal">
    <div class="rl-coffee-footer-logo"><img src="./public/images/rl-coffee-ka-logo.png" /></div>
    <div class="rl-coffee-footer-links">KA CRAFT BREW . ABOUT KITCHENAID . PRIVACY POLICY . TERMS OF USE</div>
</div>