<div class="rl-coffee-middle-header">
    <h2>NOTRE COLLECTION D'APPAREILS &Agrave; CAF&Eacute; ARTISANAL</h2>
    <h3>D&eacute;couvrez notre gamme d&rsquo;appareils &agrave; caf&eacute; artisanal, chaque pi&egrave;ce a &eacute;t&eacute; con&ccedil;ue pour &eacute;gayer vos journ&eacute;es.</h3>
</div>
<div class="rl-coffee-product-nav-holder">
	<float-button *ngFor="#product of products; #i=index" [analyticsCategory]="product.prodAnalyticsCategory" [analyticsAction]="product.prodAnalyticsAction" [analyticsLabel]="product.prodAnalyticsLabel" [floatImage]="product.prodImage" [floatCopy]="product.prodName" [floatUrl]="product.prodUrl" ></float-button>
</div>