<div id="rl-coffee-grinds">
    <div id="rl-coffee-grind-sketches"><img src="./public/images/whatiscraftcoffee/rl-coffee-sketches.jpg" alt="Kitchenaid Craft Coffee" /></div>
    <div id="rl-coffee-grind-sketches-mobile"><img src="./public/images/whatiscraftcoffee/rl-coffee-sketches_vert.jpg" alt="Kitchenaid Craft Coffee" /></div>
    <div class="rl-coffee-grind-header upper">
        <h2>CHOOSE A GRIND:</h2>
        <h3>The grind is critical to proper extraction. Each brew method demands 
the proper grind size, delivering flavour and texture.</h3>
    </div>
    <div class="rl-coffee-grind-header lower">
        <h2>USE A PRECISE BREW METHOD</h2>
        <h3>The perfect brew is a all about time, temperature and method.</h3>
    </div>
    <float-menu></float-menu>
</div>