<div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder notouch">
        <float-button [floatImage]="images[0].prodImage" [floatCopy]="images[0].prodName" [floatUrl]="images[0].prodUrl" class="notouch"></float-button>
    </div>
</div>
 <div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder">
        <float-button [floatImage]="images[1].prodImage" [floatCopy]="images[1].prodName" [floatUrl]="images[1].prodUrl" ></float-button>
    </div>
    <div id="rl-coffee-what-intro-copy" >
        <div class="what-intro-bean"><img src="./public/images/whatiscraftcoffee/coffee-bean-with-line.png" alt="What is craft coffee?" /></div>
        <div class="what-into-copy">Un bon caf&eacute; est une combinaison subtile de grains soigneusement s&eacute;lectionn&eacute;s et d'une m&eacute;thode d'infusion particuli&egrave;re. KitchenAid s'est associ&eacute; &agrave; des baristas et des experts du caf&eacute; pour appliquer consciencieusement cette formule et cr&eacute;er une nouvelle gamme d'infuseurs &agrave; caf&eacute;. Chaque appareil est sp&eacute;cialement con&ccedil;u pour c&eacute;l&eacute;brer l'art du caf&eacute; artisanal dans le confort de chez-vous, parce que nous sommes convaincus que <em>la vie a meilleur go&ucirc;t avec du caf&eacute;.</em></div>
       <div class="rl-coffee-footer-seeMore">REGARDEZ LA VID&Eacute;O</div>
    </div>
</div>
<div style="clear:both"></div>