<div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder notouch">
        <float-button [floatImage]="images[0].prodImage" [floatCopy]="images[0].prodName" [floatUrl]="images[0].prodUrl" class="notouch"></float-button>
    </div>
</div>
 <div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder">
        <float-button [floatImage]="images[1].prodImage" [floatCopy]="images[1].prodName" [floatUrl]="images[1].prodUrl" ></float-button>
    </div>
    <div id="rl-coffee-what-intro-copy" >
        <div class="what-intro-bean"><img src="./public/images/whatiscraftcoffee/coffee-bean-with-line.png" alt="What is craft coffee?" /></div>
        <div class="what-into-copy">Great coffee is made through the perfect combination of carefully sourced beans and brew method. KitchenAid worked with baristas and coffee experts to stay true to this equation, engineering a new line of coffee brewers. Each brewer is dedicated to celebrating the art of handmade craft coffee with the convenience for home because we believe Life Tastes Better with Coffee.</div>
       <div class="rl-coffee-footer-seeMore">Watch the video</div>
    </div>
</div>
<div style="clear:both"></div>