<div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder">
        <float-button [floatImage]="images[0].prodImage" [floatCopy]="images[0].prodDescription" [floatUrl]="images[0].prodUrl" [floatName]="images[0].prodName" ></float-button>
    </div>
</div>
<div id="rl-coffee-what-row-half">
    <div class="rl-coffee-float-nav-holder">
        <float-button [floatImage]="images[1].prodImage" [floatCopy]="images[1].prodDescription" [floatUrl]="images[1].prodUrl" [floatName]="images[1].prodName" ></float-button>
    </div>
</div>
<div style="clear:both"></div>